$green: #80ba27;
$green-dark: #5b8816;
$green-light: #eefcd9;
$red: #ff281f;
$orange-red: #f45600;
$orange: #f8a42a;
$orange-dark: #e88a01;
$orange-light: #ffeed6;
$white: #fff;
$gray: #f0f0f0;
$gray-light: #f7f7f7;
$disabled: #bcbcbc;
$main-text: #2e2e2e;
$sub-text: #818181;
$sub-text-dark: #4f4f4f;
$sub-text-light: #bcbcbc;
$border: #ebebeb;
$input-border: #e0e0e0;

//new colors

//main

$primary: #80ba27;
$secondary: #f8a42a;
$accent: #f45500;

//background

$primary-background: #f4fde7;
$secondary-background: #ffeed6;
$critical-background: #fee5e2;
$main-background: #ffffff;
$sub-background-1: #f7f7f7;
$sub-background-2: #f0f0f0;

//texts

$main-text: #2e2e2e;
$sub-text-1: #4f4f4f;
$sub-text-2: #808080;
$sub-text-3: #bcbcbc;
$white-text: #ffffff;

//user unterface (UI)

$success: #74b64c;
$warning: #f2e75e;
$critical: #ee3f2d;
$border: #ebebeb;
$sub-border: #e0e0e0;
$disable: #bcbcbc;

//hover

$dark-primary: #5b8816;
$dark-secondary: #e88a01;
$dark-critical: #d53322;
