@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('@/public/fonts/ubunta/Ubuntu-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('@/public/fonts/ubunta/Ubuntu-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('@/public/fonts/ubunta/Ubuntu-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('@/public/fonts/ubunta/Ubuntu-Regular.ttf');
  font-display: swap;
}
